@font-face{
  font-weight: normal;
  font-style: normal;
  font-family: "symbols-sedona";
  src: url("../font/symbols-sedona.eot?60737633");
  src: url("../font/symbols-sedona.eot?60737633#iefix") format("embedded-opentype"),
       url("../font/symbols-sedona.woff?60737633") format("woff"),
       url("../font/symbols-sedona.ttf?60737633") format("truetype"),
       url("../font/symbols-sedona.svg?60737633#symbols-sedona") format("svg");
}
 
 [class^="icon-"]:before, [class*=" icon-"]:before{
  display: inline-block;
  margin-right: .2em;
  margin-left: .2em;
  width: 1em;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: "symbols-sedona";
  line-height: 1em;

  speak: none;
}
 
.icon-facebook:before{ content: "\66"; } /* "f" */
.icon-twitter:before{ content: "\74"; } /* "t" */
.icon-up-dir:before{ content: "\25b2"; } /* "▲" */
.icon-down-dir:before{ content: "\25bc"; } /* "▼" */
.icon-star:before{ content: "\2605"; } /* "★" */
.icon-check-off:before{ content: "\2610"; } /* "☐" */
.icon-check-on:before{ content: "\2611"; } /* "☑" */
.icon-calendar:before{ content: "\e800"; } /* "" */
.icon-plus:before{ content: "\e801"; } /* "" */
.icon-minus:before{ content: "\e802"; } /* "" */
.icon-youtube:before{ content: "\f39e"; } /* "" */

body{
    position: relative;
    min-width: 1200px;
    background-color: #f2f2f2;
    color: black;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 14px;
    font-family: "PT Sans", "Arial", sans-serif;
    line-height: 17px;
}

main{
    position: relative;
}

h3{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 21px;
    font-family: "PT Sans", "Arial", sans-serif;
    line-height: 25px;
}

.main_shadow{
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    background-color: #ffffff;    
    box-shadow: 0px 0px 15px -1px rgba(0, 1, 1, 0.3);
}

.clearfix::after{
    display: table;
    clear: both;
    content: "";
}

.main_menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.main_menu li{
    display: inline-block;
    width: 20%;
    vertical-align: top;  
}

.main_menu a{
    display: block;
    padding: 20px 0;
    padding-left: 72px;
    color: black;
    text-decoration: none;    
    font-weight: bold;
    font-size: 14px;
    line-height: 15px;
}

.main_menu .item_map{
    padding-left: 78px;
}

.main_menu .item_hotels{
     padding-left: 88px;
}

.item_menu:hover{
    color: #81b3d2;
}

.item_menu:active{
    color: #b2b2b2;
}

.item_menu.active{
    color: #766357;
}

.item_menu:hover.active{
    color: #604e43;
}

.item_menu:active.active{
    color: #d6d0cc;
}

.main_menu{
    position: relative;
    margin: 0px auto;
    min-height: 56px;
    width: 1200px;
}

.logo_menu{
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 2;
    margin-left: -69px;
}

.index_top_promo{
    position: relative;
    margin: 0;
    padding: 0;
    padding-top: 508px;
    min-height: 216px;
    width: 1200px;
    background: #8bbeda url("../img/index-main-img.jpg") 0 -56px no-repeat;
}

.index_top_promo:after{
    position: absolute;
    top: 451px;
    width: 1200px;
    height: 57px;
    background-image: url("../img/shape.png");
    content: "";
}
.index_promo_container{
    padding-top: 60px;
    min-height: 156px;
    background-color: white;
    text-align: center;
}

.index_promo_container h1{
    margin: 0;
    margin-bottom: 34px;
    padding: 0;
    color:black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 21px;
    font-family: "PT Sans", "Arial", sans-serif;
    line-height: 25px;
}

.index_promo_container p{
    margin: 0;
    padding: 0; 
    color:black;
}

.container{
    margin-top: 0;
    padding: 0;
    min-height: 256px;
}

.reason{
    float: left;
    padding-top: 31px;
    min-height: 225px;
    width: 400px;
    text-align: center;
}

.reason h3{
    margin-bottom: 24px;
}

.reason p{
    margin-top: 25px;
}

.blue{
    background-color: rgb(129, 179, 210);
    color: white;
}

.gray{
    padding-top: 24px;
    min-height: 232px;
    background-color: #eeeeee;
}

.img_reason{
    float: left;
    margin: 0;
}

.preference_block{
    float: left;
    padding-top: 159px;
    min-height: 171px;
    width: 400px;
    background: #ffffff url("../img/sprites-2.png") no-repeat;
    color: black;
    text-align: center;
}

.preference_block:first-child{
    background-position: -238px -217px;
}

.preference_block:nth-child(2){
    background-position: 163px -217px;
}

.preference_block:last-child{
    background-position: -584px -217px;
}

.preference_block h3{
    margin-top: 0;
    margin-bottom: 22px;
}

.preference_block p{
    line-height: 21px;
}

.container_ask{
    margin-bottom: 0;
    padding-top: 27px;
    padding-bottom: 0;
    min-height: 264px;
    background-color: white;
    text-align: center;
}

.container_ask h2{
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    font-family: "PT Sans", "Arial", sans-serif;
    line-height: 32px;
}

.container_ask p{
    margin-top: 28px;
    color: #333333;
    font-size: 14px;
    line-height: 24px;
}

.map_block{
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    min-height: 593px;
    border: 0;
    border: 0;
    background-color: greenyellow;
    background-image: url("../img/map.jpg");
}

.search_form{
    position: absolute;
    top: 0;
    left: 316px;
    padding-top: 54px;
    min-height: 341px;
    width: 568px;
    background-color: #ffffff;
    box-shadow: 0 7px 15px 0px rgba(0, 1, 1, 0.15);
    text-transform: uppercase;
}

.off_display{
    display: none;
}

.on_display{
    display: block;
    -webkit-animation: on_disp 4s ease-in-out;
            animation: on_disp 4s ease-in-out;
}

@-webkit-keyframes on_disp{
    0%{
        -webkit-transform: translateX(-900px);
                transform: translateX(-900px);  
    }
    25%{
        -webkit-transform: translateX(90px);
                transform: translateX(90px);
    }
    50%{
        -webkit-transform: translateX(-40px);
                transform: translateX(-40px);
    }
    75%{
        -webkit-transform: translateX(20px);
                transform: translateX(20px);
    }
    90%{
        -webkit-transform: translateX(-8px);
                transform: translateX(-8px);
    }
    100%{
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
}

@keyframes on_disp{
    0%{
        -webkit-transform: translateX(-900px);
                transform: translateX(-900px);  
    }
    25%{
        -webkit-transform: translateX(90px);
                transform: translateX(90px);
    }
    50%{
        -webkit-transform: translateX(-40px);
                transform: translateX(-40px);
    }
    75%{
        -webkit-transform: translateX(20px);
                transform: translateX(20px);
    }
    90%{
        -webkit-transform: translateX(-8px);
                transform: translateX(-8px);
    }
    100%{
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
}

.title_form{
    margin-top: 45px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    min-height: 56px;
    width: 568px;
    background-color: #766357;
    text-align: center;
}

.title_form a{
    display: block;
    padding-top: 30px;
    min-height: 56px;
    color: white;
    text-decoration: none;
}

.search_form input[name="date_in"], [name="date_out"]{
    margin-right: 40px;
    margin-bottom: 27px;
    padding-left:14px;
    min-height: 38px;
    width: 332px;
    border: none;
    background-color: #f2f2f2;
    background-image: url("../img/sprites-2.png");
    background-position: 316px 9px;
    background-repeat: no-repeat;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
}

.search_form input[name="date_out"]{
    margin-bottom: 29px;
    padding-left: 11px;
}

.search_form input[name="date_in"]:hover, [name="date_out"]:hover{
    background-color: #ebebeb;
    background-position: -185px 9px;
}

.search_form input[name="date_in"]:active, [name="date_out"]:active{
    padding-left:12px;
    min-height: 34px;
    width: 330px;
    outline: none;
    border: 2px solid #e5e5e5;
    background-color: white;
    background-position: -186px -69px;
}

.search_form input[name="date_out"]:active{
    padding-left: 9px;
}

.search_form label{
    color: black;
    font-weight: bold;
    font-size: 14px;
}

.search_form label[for="date_in"]{
    margin-right: 16px;
    margin-left: 57px;
}

.search_form label[for="date_out"]{
    margin-right: 16px;
    margin-left: 55px;
}

.search_form input[type="submit"]{
    margin-top: 53px;
    margin-left: 55px;
    width: 458px;
    height: 58px;
    border: none;
    background-color: #81b3d2;
    color: white;
    font-weight: bold;
    font-size: 21px;
}

.search_form input[type="submit"]:hover{
    background-color: #669ec0;
}

.search_form input[type="submit"]:active{
    outline: none;
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.search_form label[for="count_adult"]{
    margin-right: 41px;
    margin-left: 55px;
}

input[name="count_adult"]{
    margin: 0;
    padding: 0;
    width: 38px;
    height: 38px;
    border: 0;
    background-color: #f2f2f2;
    text-align: center; 
    font-weight: bold;
    font-size: 14px;
    font-family: "PT Sans", "Arial", sans-serif;
}

.search_form label[for="count_kids"]{
    margin-right: 27px;
    margin-left: 53px;
}

input[name="count_kids"]{
    margin: 0;
    padding: 0;
    width: 38px;
    height: 38px;
    border: 0;
    background-color: #f2f2f2;
    text-align: center; 
    font-weight: bold;
    font-size: 14px;
    font-family: "PT Sans", "Arial", sans-serif;
}

.count_people{
    font-size: 0;
}

.sign_btn:before{
    display: inline-block;
    padding: 12px;
    padding-left: 13px;
    width: 13px;
    height: 14px;
    background-color: #f2f2f2;
    color:  #a9a9a9;
    content: "\e802";
    vertical-align: top;
    font-size: 14px;
    font-family: "symbols-sedona";
    cursor: pointer;
}

.plus_adult_btn:before{
    content: "\e801";
    font-family: "symbols-sedona";
}

.plus_kid_btn:before{
    content: "\e801";
    font-family: "symbols-sedona";
}

.sign_btn:hover:before{
    color: black;
}

.sign_btn:active:before{
    color: #81b3d2;
}

.select_form{
    margin-top: 0px;
    padding-top: 21px;
    min-height: 196px;
    background-color: #6c92b9;
    background-image: url("../img/filter_background.jpg");
    background-position: 0 -56px;
}

.select_form input[type="checkbox"]{
    display: none;
}

.select_infrastr{
    float: left;
    margin-left: 71px;
    padding-top: 6px;
    padding-left: 1px;
    min-height: 160px;
    width: 155px;
    color: white;
}

.select_house{
    float: left;
    margin-left: 100px;
    padding-top: 6px;
    min-height: 160px;
    width: 155px;
    color: white;
}

.select_house input[type="checkbox"] + label:before{
    margin-left: 1px;
}

.select_price{
    float: right;
    margin-right: 45px;
    padding-top: 6px;
    min-height: 160px;
    width: 355px;
}

.select_form input[type="checkbox"] + label{
    display: inline-block;
    margin-top: 4px;
    margin-bottom: 20px;
    vertical-align: middle;
    line-height: 21px;
    cursor: pointer;
}

.select_form input[type="checkbox"] + label:before{
    display:inline-block;
    margin-right: 19px;
    color: #b5b5b5;
    content: "\2610";
    vertical-align: middle;
    font-size: 26px;
    font-family: "symbols-sedona"; 
}

.select_form input[type="checkbox"]:checked + label:before{
    margin-right: 0.588em;
    color: #b5b5b5;
    content: "\2611";
    font-size: 26px;
    font-family: "symbols-sedona";
}

.select_form input[type="checkbox"] + label:hover:before{
    color: #fefefe;
}

.select_form input[type="checkbox"]:disabled + label:before{
    color: #6a6a6a;
}

.select_form h4{
    margin-top: 0px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;    
}

.select_price h4{
    margin-bottom: 10px;
}

.select_price .range{
    position: relative;
    margin-top: 0;
    margin-bottom: 7px;
    margin-left: 10px;
    padding: 0;
    padding-top: 6px;
    width: 314px;
    height: 26px;
    border: 2px #ffffff solid;
    border-radius: 2px;
    color: white;
}

.range .vertical_line{
    position: absolute;
    top: 5px;
    left: 157px;
    width: 0;
    height: 20px;
    border: 1px #ffffff solid;
}

.range .from{
    margin-left: 65px;
}

.range .do{
    margin-left: 82px;
}

.range_controls{
    position: relative;
    margin-bottom: 19px;
    margin-left: 10px;
    padding-top: 13px;
    padding-left: 10px;
    width: 308px;
    height: 15px;
}

.range_controls .scale{
    height: 2px;
    background-color: rgba(255, 255, 255, 0.3);
}

.range_controls .bar{
    width: 82%;
    height: 2px;
    background-color: white; 
    opacity: 1;
}

.range_controls .toggle{
    position: absolute;
    top: 4px;
    width: 4px;
    height: 4px;
    border: 8px solid #ffffff;
    border-radius: 50%;
    background: #ababab;
    box-shadow: 0 2px 0 0 rgba(0, 1, 1, 0.14);
    cursor: pointer;
}

.range_controls .toggle_min{
    left: 1px;
}

.range_controls .toggle_max{
    left: 253px;
}

.range_controls .toggle:hover{
    background-color: #1c4f80;
}

.select_form input[type="text"]{
    margin: 0;
    width: 40px;
    border: none;
    background: none;
}

.select_form input[type="submit"]{
    margin-left: 95px;
    padding-left: 8px;
    width: 137px;
    height: 36px;
    outline: none;
    border: 2px #ffffff solid;
    border-radius: 2px;
    background: none;
    color: white;
    text-transform: uppercase;
}

.select_form input[type="submit"]:active{
    outline: none;
}


.container_sort{
    padding-top: 30px;
    min-height: 56px;
    border-bottom: 1px solid #e5e5e5;
}

.container_sort h2{
    float: left;
    margin: 0;
    margin-right: 47px;
    margin-left: 72px;
    font-weight: bold;
    font-size: 21px;
    font-family: "PT Sans", "Arial", sans-serif;
    line-height: 26px;
}

.container_sort .sorting{
    display: block;
    float: left;
    margin-top: 6px;
    margin-right: 40px;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px; 
}

.container_sort .sort_item{
    display: block;
    float: left;
    margin-top: 7px;
    margin-right: 33px;
    border-bottom: 1px dotted #81b3d2;
    color: #b1b1b1;
    text-decoration: none;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px; 
}

.container_sort .sort_item:hover{
    color: #81b3d2;
}

.container_sort .sort_item:active{
    border-bottom: none;
    color: black;
}

.container_sort .active{
    border-bottom: none;
    color: #81b3d2;
}

.container_sort .sort_bottom{
    display: block;
    float: right;
    margin-top: 10px;
    margin-right: 3px;
    width: 0;
    height: 0;
    border: 10px solid #cccccc;
    border-top: 0;
    border-right-color: transparent;
    border-left-color: transparent;
    transform: scaleX(0.5);
}

.container_sort .sort_top{
    display: block;
    float: right;
    margin-top: 9px;
    margin-right: 68px;
    width: 0;
    height: 0;
    border: 10px solid #cccccc;
    border-right-color: transparent;
    border-bottom: 0;
    border-left-color: transparent;
    transform: scaleX(0.5);
}

.container_sort .bt_active{
    border-top-color: #81b3d2;
    border-bottom-color: #81b3d2;
}

.sort_top:hover, .sort_bottom:hover{
    border-top-color: #000000;
    border-bottom-color: #000000;
}

.sort_top:active, .sort_bottom:active{
    border-top-color: #81b3d2;
    border-bottom-color: #81b3d2;
}

.result .container_hotels{
    padding-top: 20px;
    padding-left: 72px;
    min-height: 130px;
    border-bottom: 1px solid #e5e5e5;
}

.container_hotels img{
    float: left;
    margin-top: 10px;
    margin-right: 30px;
}

.about{
    float: left;
    padding: 0;
    max-width: 700px;
}

.about h3{
    margin: 0;
    margin-top: 5px;
    margin-bottom: 9px;
    font-weight: bold;
    font-size: 21px;
    font-family: "PT Sans", "Arial", sans-serif;
    line-height: 26px;
    cursor: pointer;
}

.about h3:hover{
    color: #81b3d2;
}

.about h3:active{
    color: #b2b2b2;
}

.about .type_house{
    display: inline-block;
    width: 112px;
    vertical-align: baseline;
}

.about .price{
    display: inline-block; 
    width: 100px;
    vertical-align: top;
}

.about .btn_line{
    margin-top: 15px;
}

.about .btn{
    display: block;
    float: left;
    margin-right: 6px;
    padding-top: 6px;
    height: 22px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

.about  .more_btn{
    width: 110px;
    background-color: #81b3d2;
}

.about  .more_btn:hover{
    background-color: #669ec0;
}

.about  .more_btn:active{
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.about  .reserve_btn{
    width: 143px;
    background-color: #766357;
}

.about  .reserve_btn:hover{
    background-color: #604e43;
}

.about  .reserve_btn:active{
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

.container_hotels .rate{
    float: right;
    margin-right: 71px;
}

.rate .stars{
    margin-top: 5px;
    margin-bottom: 43px;
    width: 120px;
    height: 25px;
    background-image: url("../img/sprites-2.png");
    background-repeat: no-repeat;
}

.container_hotels:nth-child(1) .stars{
    background-position: 30px -148px;
}
 
.container_hotels:nth-child(2) .stars{
    background-position: -224px -147px;
}

.container_hotels:nth-child(3) .stars{
    background-position: -97px -148px;
}

.rate span{
    display: block;
    margin: 0;
    margin-left: 9px;
    padding: 0;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 111px;
    background-color: #f2f2f2;
    color: #666666;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
}

.main_footer{
    margin-right: auto;
    margin-left: auto;
    min-height: 120px;
    width: 1200px;
    background-color: rgba(255, 255, 255, 0.9);
}

.abs_pos{
    position: absolute;   
    bottom: 0px;
    left: 50%;
    z-index: 2;
    margin-left: -600px;
}

.hashtag{
    float: left;
    margin-right: 204px;
    margin-left: 80px;
    padding-top: 47px;
    min-height: 73px;
    width: 240px;
    text-align: center;
}

.hashtag span{
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 21px;
    font-family: "PT Sans", "Arial", sans-serif;
    line-height: 23px;
}

.footer_social{
    float: left;
    padding-top: 36px;
    min-height: 84px;
    width: 151px;
}

.social_btn{
    display: block;
    float: left;
    margin-right: 6px;
    min-height: 48px;
    width: 46px;
    background-color: #81b3d2;
    background-image: url("../img/sprites.png");
}

.social_btn:last-child{
    margin-right: 0;
}

.social_btn_tw{
    background-position: 15px 17px;
}

.social_btn_tw:active{
    background-position: -85px 17px;
}

.social_btn_fb{
    width: 47px;
    background-position: 19px -187px;
}

.social_btn_fb:active{
    background-position: -81px -186px;
}

.social_btn_youtube{
    background-position: 13px -85px;
}

.social_btn_youtube:active{
    background-position: -87px -85px;
}

.social_btn:hover{
    background-color: #669ec0;
}

.social_btn:active{
    background-color: #5496bd;
}

.footer_copyright{
    position: relative;
    float: right;
    margin-right: 72px;
    padding-top: 51px;
    padding-left: 16px;
    min-height: 69px;
    width: 225px;
    color: black;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 14px;
    font-family: "PT Sans", "Arial", sans-serif;
    line-height: 16px;
}

.footer_copyright a{
    position: absolute;
    top: 41px;
    left: 97px;
    display: block;
    min-height: 39px;
    width: 113px;
    background-image: url("../img/sprites.png");
    background-position: 0 -352px;
}

.footer_copyright a:hover{
    background-position: 0 -419px;  
}

.footer_copyright a:active{
    background-position: -159px -416px;  
}